/*
Personal portfolio page created by Nikolas Zazula, 
using a mobile-first development approach.
*/

html, body {
    max-width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    
}
  

body {
    font-family: 'Baskervville', serif;
    color: #f7f7f7;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
    overscroll-behavior-y: none;
    line-height: 35px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    margin: 0;

    /* animation?
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    */
}

/* MOBILE NAV BAR*/
nav {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    flex-direction: row;
    width: 100%;
}

#nav-div{
    display: none;
    height: auto;
    width: 100%;
    text-align: center; 
    position: fixed;
    background-color: transparent;
}
#mobile-nav-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center; 
    position: fixed;
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: .05em;
}

#mobile-nav-section{
    width: 100%;
}

#mobile-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 6;
    background-color: transparent;
    height: auto;
    width: 100%;
}

#nav-section{
    width: 100%;
}

#nav{
    z-index: 6;
    background-color: transparent;
    height: auto;
    }
  

#nav-list{
    display: grid;
    grid-template-columns: 2fr .75fr .75fr .75fr .75fr;
    grid-auto-flow: row;
    flex-direction: row;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: .05em;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    color: #f7f7f7;
}

.nav-item{
    text-align: center;
    font-style: none;
    font-size: 15px;
    text-decoration: none;
    color: #f7f7f7;
}

.nav-link{
    font-size: 15px;
    text-decoration: none;
    color: #f7f7f7;
}

.show {display:block;}

#mobile-menu{
    height: 30px;
    width: 30px;
}

.dropdown-content{
    display: none;
}
.menu {
    height: 50px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: .05em;
    display: fixed;
    padding: 0;
    margin-top: -2px;
    position: relative;
    width: 100px;
    list-style-type: none;
    text-decoration: none;
}
    
.menu > li > a {
    color: #F0F0F0;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 70px;
}

#lisst{
    height: 100%;
}
#toggle-label{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-end;
}
#mobile-menu{
    align-self: center;
}
.visually-hidden{
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    left: -9999px;
}

#toggle:not(:checked) ~ .controlme {
    margin-top: -10px;
    color: #F0F0F0;
    text-decoration: none;
    height: 100px;
    margin-left: 0;
    padding-left: 0px;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    width: auto;
    list-style-type: none;
    text-align: center;
    z-index: -6;
}
    
#toggle:checked ~ .controlme {
    margin-top: -10px;
    color: #F0F0F0;
    text-decoration: none;
    height: 100px;
    margin-left: 0;
    padding-left: 0;
    opacity: 1;
    position: absolute;
    transition: all .5s ease;
    width: auto;
    list-style-type: none;
    text-align: left;
    z-index: 6;
}

  
.menu ul a {
    color: white;
    text-decoration: none;
    display: block;
   
    margin-top: 20px;
    font-weight: bold;
    width: 100px;
}

#main-title-div{
    text-align: center;
}

#main-title{
    font-size: 70px;
}

#tab-experience{
    display: none;
}

/* HOME PAGE */
/* animation */
.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.1); 
}

.grow-link { 
    transition: all .2s ease-in-out; 
}
.grow-link:hover { 
    transform: scale(1.01);
}
.flip-horizontally {
    transform: scaleX(-1);
  }

/* body */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.home-section{
    width: 100%;
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow: hidden;
}

.home-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Prata', serif;
    font-style: none;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .2em;
}

#content-header-div{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 60% 40%;
    justify-content: center;
}

/* ------------------------------------- */
/*              HOME PAGE                */
/* ------------------------------------- */

/* ABOUT SECTION */
#about-home{
    display: flex;
    flex-direction: row;
    background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.312)), url(images/main.png);
    background-color:#908f87;
    background-size: cover;
    background-position: center;
    color: #f7f7f7;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: -1;
}

#about-img{
    display: none;
    width: 100%;
    height: 100vh;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
#about-text-div{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

/* WORK SECTION */
#work-home{
    display: none;
    background-color: #ee6352;
    color: #f7f7f7;
    margin-top: 110vh;
}

#work-title{
    margin-bottom: 10vh;
}

#work-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.work-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.work-item-title{
    text-align: center;
}

.work-item-text{
    height: 140px;
}

.work-button{
    background-color: #d45444;
    text-decoration: none;
    border: none;
    color: #f7f7f7;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: .05em;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .2s ease-in-out; 
}

.work-button:hover{
    background-color: #D64735;
}

/* WORK SECTION - MOBILE */
#mobile-work-home{
    background-color: #ee6352;
    color: #f7f7f7;
    margin-top: 100vh;
    height: 100vh;
}

/* WORKING work scroll */
.list {
    display: flex;
    overflow-x: scroll;
    /* prevent accidentally going back or triggering other swipe events */
    overscroll-behavior: contain;
    /* hide scroll bar */
    scrollbar-width: none;
    -ms-overflow-style: none;
  
    /* momentum scroll on iOS */
    -webkit-overflow-scrolling: touch;
  
    /* disable vertical scroll for touch */
    touch-action: pan-x;
  
    /* scroll snapping */
    scroll-snap-type: x mandatory;
  }
  
  /* hide scroll bar */
  .list::-webkit-scrollbar {
    display: none;
  }
  
  .item {
    height: auto;
    width: 1fr;
    flex-shrink: 0;
    /* scroll snapping */
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  
  /* 
    The styling below is only for the decoration of this demo, 
    it has no impact on scrolling or scroll behavior
  */
  .indicatorsList,
  .list {
    list-style: none;
    padding: 0;
  }
  
  .item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #f7f7f7;
   }
  
  .indicatorsList {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f7f7f7;
   }
  
  .indicator:not(:last-child) {
    margin-right: 16px;
  }
  
  .indicator.active {
    background-color: #D64735;
  }
  
  .viewport {
    margin-left: 10px;
    margin-right: 10px;
  }
  
 
/* EXPERIENCE SECTION */
#experience-home{
    background-color: #ece4b7;
    color: #726e60;
    height: auto;
}
#mobile-experience-home{
    background-color: #ece4b7;
    color: #726e60;
    height: auto;
}
.experience-section-title{
    font-weight: bold;
    font-size: 33px;
}
.experience-item{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 5vw;
}
.experience-item-sec{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.experience-text{
    padding-right: 5vw;
    width: 50vw;
    height: auto;
    overflow: none;
}
.experience-text-sec{
    padding-left: 5vw;
    width: 50vw;
    height: auto;
}
.experience-description{
    width: 50vw;
}
.experience-first-img{
    height: auto;
    width: 55vw;
    margin-right: -5vw;
}
.experience-img{
    width: 50vw;
    height: auto;
    margin-left: -5vw;
}

.experience-third-img{
    height: auto;
    width: 45vw;
}
.read-link{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: .05em;
    color: #726e60;
}
.read-link:hover{
    transition: all .5s ease-in-out; 
    color: #726F65;
}


/* COURSEWORK SECTION */
#coursework-home{
    display: flex;
    background-color: #10497f;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#coursework-title{
    text-align: center;
}

#coursework-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#coursework-text{
    text-align: center;
    width: 70%;
}
#coursework-button{
    margin-top: 50px;
    background-color: #d45444;
    color: #f7f7f7;
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    align-self: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    font-size: 15px;
    width: 250px;
}
#coursework-button:hover{
    transition: all .5s ease-in-out;
    background-color: #D64735;
}


/* FOOTER */
#desktop-footer-div{
    display: none;
}
#mobile-footer-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;
    height: 120px;
    background-color: #f7f7f7;
    padding-left: 15px;
    padding-right: 15px;
}

#footer-name{
    display: block;
    color: #10497f;   
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .05em;
    text-align: left;
    height: auto;
    align-self: left;
}

.social-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 50px;
}

.social-icon{
    height: auto;
    max-height: 100px;
    max-width: 50%;
}

.social-icon:hover{
    transition: all .5s ease-in-out;
}



/* POP UP */
.pop-up-items{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 6;
}
.pop-up-items-grid{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.items-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 200px;
}
.items-img{
    width: 100px;
    height: 100px;
}
.items-description{
    text-align: center;
    font-size: 15px;
}

#research-items{
    display: none;
}

/* pdfs */
.pop-up-pdf{
    height: 100%;
    width: 100%;
    border: none;
}

.pop-up{
    height: 99vh;
    width: 90vw;
    align-self: center;
    display: none;
}

.pop-up-div{
    z-index: 3;
    display: none;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
}

.exit-button{
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin-left: -30px;
    color: white;
    background-color: transparent;
    border: none;
}

/* resume */
#resume-link{
    cursor: pointer;
}



/* ------------------------------------- */
/*          COURSEWORK PAGE              */
/* ------------------------------------- */
#detail-coursework{
    background-color: #10497f;
    height: auto;
}

.coursework-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5vw;
}
.coursework-text{
    padding-right: 5vw;
    width: 100%;
    height: auto;
    overflow: none;
}
.coursework-description{
    width: 90vw;
}

/* ------------------------------------- */
/*            CONSULTING PAGE            */
/* ------------------------------------- */

#consulting-desktop{
    background-color: #ece4b7;
    color: #726e60;
    height: auto;
    
}
#consulting-mobile{
    background-color: #ece4b7;
    color: #726e60;
    height: auto;
}

.consulting-first-img{
    height: auto;
    width: 45vw;
}
.consulting-img{
    width: 40vw;
    height: auto;
}

.consulting-third-img{
    height: auto;
    width: 45vw;
}


/* ------------------------------------- */
/*              DESIGN PAGE              */
/* ------------------------------------- */
#design-section{
    display: block;
    background-color: #ece4b7;
    color: #726e60;
    height: auto;

}
.design-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.design-image{
    height: 400px;
    width: auto;
}

/* ------------------------------------- */
.desktop{
    display: none;
}

/* ------------------------------------- */
/*        MEDIA QUERY - TABLET           */
/* ------------------------------------- */
@media (min-width: 481px) {
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    #work-home{
        display: none;
    }
    #mobile-experience{
        display: none;
    }
    #tab-experience{
        display: block;
    }
    
}

/* ------------------------------------- */
/*        MEDIA QUERY - DESKTOP          */
/* ------------------------------------- */
@media (min-width: 1025px) {
    /* GENERAL */
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }

    .home-title{
        text-align: center;
        font-size: 3em;
        font-family: 'Prata', serif;
        font-style: none;
        text-decoration: none;
        font-weight: 400;
        letter-spacing: .2em;
    }

    /* NAV BAR*/
    #mobile-nav-div{
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
        color: white;
        text-decoration: none;
        flex-direction: row;
        width: 100%;
    }

    #nav-div{
        display: block;
        width: 100%;
        text-align: center; 
        position: fixed;
        background-color: transparent;
        top: 0;
    }

    #nav-section{
        width: 100%;
    }

    #nav{
        z-index: 6;
        background-color: transparent;
        height: auto;
    }
  
    #nav .hover {
        color: #323232;
        text-decoration: underline;
    }

    #nav-list{
        display: grid;
        grid-template-columns: 2fr .75fr .75fr .75fr .75fr;
        grid-auto-flow: row;
        flex-direction: row;
        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        letter-spacing: .05em;
        width: 100%;
        list-style-type: none;
        text-decoration: none;
        flex-direction: row;
        justify-content: space-between;
        color: #f7f7f7;
    }

    .nav-item{
        text-align: center;
        font-style: none;
        color: #f7f7f7;
    }
    .nav-name{
        text-align: left;
    }

    #nav-link{
        font-size: 15px;
        text-decoration: none;
        color: #f7f7f7;
    }

    /* POP UP */
    .pop-up-items{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        z-index: 6;
    }
    .pop-up-items-grid{
        width: 60%;
        height: auto;
        padding-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .items-div{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 200px;
    }
    .items-img{
        width: 125px;
        height: 125px;
    }
    .items-description{
        text-align: center;
        font-size: 15px;
    }

    /* ABOUT SECTION */
    #about-home{
        display: flex;
        flex-direction: row;
        background-color:#908f87;
        background-image: none;
        color: #f7f7f7;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: -1;
    }

    #about-img{
        display: block;
        width: auto;
        height: 100vh;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }   

    #about-text-div{
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vw;
    }

    /* WORK SECTION */
    #mobile-work-home{
        display: none;
    }
    #work-home{
        display: block;
    }
    #work-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    
    .work-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .work-item-title{
        text-align: center;
    }
    
    .work-item-text{
        overflow: none;
        height: 140px;
    }

    .work-button{
        background-color: #d45444;
        text-decoration: none;
        border: none;
        color: #f7f7f7;
        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        letter-spacing: .05em;
        margin-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all .2s ease-in-out; 
    }

    /* COURSEWORK SECTION */
    #coursework-home{
        display: flex;
        background-color: #10497f;
        height: 30vh;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #coursework-title{
        text-align: left;
        padding-left: 5vw;
    }

    #coursework-container{
        padding-left: 2vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        
    }

    #coursework-text{
        text-align: left;
        padding-left: 5vw;
        width: 70%;
    }

    #coursework-button-mobile{
        display: none;
    }

    #coursework-button{
        background-color: #d45444;
        color: #f7f7f7;
        border: none;
        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        padding-left: 50px;
        padding-right: 50px;
        height: 50px;
        font-size: 15px;
        width: 250px;
        margin-right: 100px;
    }

    #coursework-button:hover{
        transition: all .5s ease-in-out;
        background-color: #D64735;
    }
    /* FOOTER */
    #desktop-footer-div{
        display: grid;
        grid-template-columns: 1.5fr .75fr .75fr .75fr .75fr .75fr;
        grid-auto-flow: row;
        align-items: center;
        list-style-type: none;
        text-decoration: none;
        justify-content: space-between;
        height: 120px;
        background-color: #f7f7f7;
        padding-left: 30px;
        padding-right: 30px;
    }

    #footer-name{
        display: block;
        color: #10497f;   
        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: .05em;
        text-align: left;
        height: auto;
        align-self: left;
    }

    #mobile-footer-div{
        display: none;
    }

    .exit-button{
        width: 30px;
        height: 30px;
        font-size: 15px;
        margin-left: -30px;
        color: white;
        background-color: transparent;
        border: none;
    }

    #dev-pop-up{
        height: 99vh;
        width: 60vw;
        align-self: center;
        display: none;
    }
    
    #dev-pop-up-div{
        z-index: 3;
        display: none;
        position: fixed;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(0, 0, 0, .5);
        width: 100vw;
        height: 100vh;
    }
    /* ------------------------------------- */
    /*            CONSULTING PAGE            */
    /* ------------------------------------- */

}
  